.formatIcons {
  color: rgb(15, 15, 15, 0.7);
  /* width: 1vw; */
  /* height: 1vh; */
  /* margin: .3rem; */
}

.formatContainer {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  background-color: rgb(220, 231, 241);
  border-radius: 15px;
  padding: 0.2rem;
}

/* --------------- colorBox css ------------------ */

.colorbox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: 300;
}
.inputbox {
  width: 15px;
  height: 5px;
}
