.formatContainer {
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    gap: .3rem;
    background-color: rgb(220, 231, 241);
    border-radius: 15px;
    padding: .2rem;
}

.formatIcons  {
    color: rgb(15, 15, 15, .7);
    width: 1vw;
    height: 4vh;
    margin: .3rem;
}