.formatContainer {
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    gap: .3rem;
    background-color: rgb(220, 231, 241);
    border-radius: 15px;
    /* padding: .2rem; */
}

.formatIcons  {
    color: rgb(15, 15, 15, .6 );
    width: 1vw;
    height: 3vh;
    margin: .3rem;
    /* padding: .1rem; */
}

.formatIcons:hover {
    background-color: rgb(94, 92, 92, .2);
}

.select {
    display: flex;
    align-items: center;
    gap: .3rem;
}